<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>babylon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1388551C1E28BC6C009D15DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>138855301E28BC6C009D15DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1388553B1E28BC6C009D15DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
